<!--
Created by Joe Axberg
Commented by AJ Thompson
last updated: 12/13/2020
-->
<html>
    <head>
        <title>Axnet IoT Temperature</title>
    </head>
    <body>
        <h3>Axnet IoT Temperature API</h3>
        <br /><br />
        Please use the following urls:
        <br />
        <br />
        <!--link for getting 10 recent temperatures-->
        <a href="http://192.168.0.74:5000/recent_temps">Display ten temps (HTML Formatted)</a>
        <br />
        <!--link for getting 1 temperature-->
        <a href="http://192.168.0.74:5000/get_one_temp_api">Get one temp: (JSON)</a>
        <br />
        <!--link for getting 10 temperatures (should work similiarly to recent_temps but unformatted)-->
        <a href="http://192.168.0.74:5000/get_ten_temps_api">Get ten temps: (JSON) </a>
    </body>
</html>